<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="lai-common-lib" packages="">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
		    <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %msg%n" />
		</Console>
		<RollingFile name="trace-log" fileName="${log-path}/log-trace.log"
		    filePattern="${log-path}/log-trace-%d{yyyy-MM-dd}.log">
		    <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%c{1}/%M] - %msg%n" />
		    <Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			   </Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="jungho" level="trace" additivity="false">
		    <appender-ref ref="trace-log" level="trace" />
			<appender-ref ref="console-log" level="trace" />
		</Logger>
		<Root level="trace" additivity="false">
			<AppenderRef ref="trace-log" />
			<AppenderRef ref="console-log" />
		</Root>
	</Loggers>
</Configuration>
